*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(images/Black\ Yellow\ Aesthetic\ Samurai\ Desktop\ Wallpaper\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    height: 50px;
}
nav ul li a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav ul li a:hover{
    background-color: #f0f0f0;
    transition: .3s ease;
}
nav ul li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 50%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.486);
    backdrop-filter: blur(10px);
    box-shadow: 14px 3px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
}
.sidebar li{
    width: 100%;
}
.sidebar li a{
    width: 100%;
}
.menu-btn{
    display: none;
    cursor: pointer;
}
.sidebar li:first-child{
    margin-bottom: 10px;
    margin-left: 70%;
    margin-right: 0;
    /* padding-left: 75%; */
    position: absolute;
}
@media(min-width: 800px){
    .sidebar{
        display: none !important;
    }
}
@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-btn{
        display: block;
        cursor: pointer;
    }
}
